*.geojson
!tests/data/*.geojson
*.psd
.ipynb_checkpoints
.DS_Store
**/__pycache__/
.pytest_cache/
.vscode/
dev/

notebooks/**
!notebooks/city2graph_demo.ipynb

docs/source/examples/**
!docs/source/examples/**/*.ipynb

conda/conda-bld/
docs/build/

.coverage
.coverage*
